extends ../layouts/main-layout.pug

block content 
    main.container.py-5 
        .row 
            .col-12.text-center 
                h1 Add Product
            .col-12.col-md-8.col-lg-6.mx-auto 
                form(action="/admin/add-product" method="POST" class="form")
                    .form-group
                        label(for="title") Product Title
                        input(type="text" name="title" id="title").form-control
                        button(type="submit").btn.btn-lg.mt-3.btn-primary Add Product 
