extends ../layouts/main-layout.pug

block content 
    main.container.py-5 
        .row 
            .col-12.text-center 
                h1 Add Product
            .col-12.col-md-8.col-lg-6.mx-auto 
                form(action="/admin/add-product" method="POST" class="form")
                    .form-group
                        label(for="title") Product Title
                        input(type="text" name="title" id="title").form-control
                    .form-group 
                        label(for="description") Product Description
                        textarea#description(name="description" cols="30" rows="10").form-control
                    .form-group 
                        label(for="imageUrl") Product Image URL
                        input#imageUrl(type="url" name="imageUrl").form-control
                    .form-group 
                        label(for="price") Product Price
                        input#price(type="number" name="price" min="0").form-control
                    button(type="submit").btn.btn-lg.mt-3.btn-primary Add Product 