extends ../layouts/main-layout.pug
block content 
    main.container.py-5 
        .row 
            if products.length > 0
                .col-12 
                    h1 My Product
                    p List of all products:
                each product in products 
                    .col-12
                        p #{product.title}
            else
                h1 No Products