extends ../layouts/main-layout.pug
block content 
    main.container.py-5 
        .row 
            if products.length > 0
                .col-12 
                    h1 My Product
                    p List of all products:
                each product in products 
                    .col-lg-3.col-md-4.col-12.mx-md-auto.bg-white.rounded.shadow
                        img(src=(product.imageUrl) alt=(product.title)).img-fluid
                        div.d-flex.justify-content-between
                            h2.mt-3.mb-3  #{product.title}
                            p #{product.price} $
                        p #{product.description}


            else
                h1 No Products